.archives {
    background-image: url(../../../../interface/themes/default/images/silk/package.png );
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 .5em .5em 20px;
    margin-right: 1em;
}

.musicandsound {
    background-image: url(../../../../interface/themes/default/images/silk/music.png );
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 .5em .5em 20px;
    margin-right: 1em;
}

.booksandbrochures {
    background-image: url(../../../../interface/themes/default/images/silk/book.png );
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 .5em .5em 20px;
    margin-right: 1em;
}

.documentation {
    background-image: url(../../../../interface/themes/default/images/silk/list.png );
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 .5em .5em 20px;
    margin-right: 1em;
}

.serials {
    background-image: url(../../../../interface/themes/default/images/silk/newspaper.png );
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 .5em .5em 20px;
    margin-right: 1em;
}

.visualdocuments {
    background-image: url(../../../../interface/themes/default/images/silk/picture.png );
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 .5em .5em 20px;
    margin-right: 1em;
}

dt.array {
    width: 15%;
    float: left;
    clear: left;
    margin: 0px 0px 0px 0px;
}

dd.array {
    width: 84%;
    float: left;
    clear: right;
    margin: 0px 0px 0px 0px;
}

.recordsubcontent {
    display: inline-block;
}

.file {

}

.unittitle {

}

.series {
    margin-bottom: 2em;
}

.ead_indent2 {
    margin-left: 20px;
}

.ead_indent4 {
    margin-left: 80px;
}

.ead_indent6 {
    margin-left: 120px;
}

.eci_body {
}

.eci_kop {
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    padding-left: 15px;
    margin: 0px 0px 15px 0px;
}

.eci_para {
    margin-bottom: 2em;
}

.eci_ptxt {

}

.eci_caption {
    font-weight: bold;
    padding: 5px 0px 0px 5px;
}

.eci_body table {
    border: thin solid gray;
    border-collapse: collapse;
    padding: 7px;
}

.eci_body table tr td {
    border: thin solid gray;
    border-collapse: collapse;
    padding: 10px;
}

.eci_list {
    margin-left: 25px;
    white-space: normal;
    margin-bottom: 40px;
}

.eci_li {
    list-style-type: disc;
}

.searchHomeContent {
    padding: 2em 0;
}

/*.searchHomeForm {
    border-top: 2px solid #C42737;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background-color: #F7F2EE;
}*/
.searchHomeForm {
    border-top: 2px solid #73A0C9;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background-color: #F7F2EE;
}

/*.searchHomeBrowse {
    border-top: 2px solid #C42737;
    background-color: #F7F2EE;
}*/
.searchHomeBrowse {
    border-top: 2px solid #73A0C9;
    background-color: #F7F2EE;
}

/*.searchHomeBrowseHeader h2 {*/
/*color: #C42737;*/
/*}*/
.searchHomeBrowseHeader h2 {
    color: #039;
}

.searchHomeBrowseInner li {
    line-height: 1.3em;
}

/*.searchHomeBrowseInner a {*/
/*color: #A26E33;*/
/*}*/
.searchHomeBrowseInner a {
    color: #039;
}

/*.searchHomeBrowseInner a:hover {
    color: #C42737;
    text-decoration: underline;
}*/
.searchHomeBrowseInner a:hover {
    color: #73A0C9;
    text-decoration: underline;
}

.searchHomeBrowseInner div {
    border-right: 1px dotted #cccccc;
}

/*#searchForm .small {*/
/*color: #A26E33;*/
/*}*/
#searchForm .small {
    color: #039;
}

b.gtop, b.gtop b, b.gtop, b.gtop b {
    background-image: none;
    background-color: #F7F2EE;
}

.favorite {
    background-image: url(../../../../interface/themes/default/images/silk/world.png );
    background-repeat: no-repeat;
    background-position: left;
    padding: .5em .5em .5em 20px;
    margin-right: 1em;
}

.fav {
    background-image: url(../../../../interface/themes/default/images/silk/edit.png );
    background-repeat: no-repeat;
    background-position: left;
    padding: .5em .5em .5em 20px;
    margin-right: 1em;
}

#doc2 {
    width: 75em;
}

#tabnav {
    margin-top:2em;
    height:34px;
    width:100%;
    padding:0 0 0 0;
    background-color:#fafafa;
    border-top:1px #eee solid;
}
#tabnav.search {
    margin-top:0px;
    margin-left: 15px;
}
#tabnav ul {
    display:block;
    margin:0;
    padding:0px 0 0 1em;
    list-style:none;
    border-bottom: 1px #ccc solid;
}
#tabnav li {
    position:relative;
    display:block;
    float:left;
    margin:0;
    padding:0 0 0px 0px;
    border-bottom: 1px #ccc solid;
}
#tabnav a {
    display:block;
    background:url("../../../../images/tabs_bg.jpg") repeat-x right top;
    padding:.7em 1em .7em 1em;
    text-decoration:none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #eee;
    border-right: 1px solid #ccc;
    color:#333;
}


#tabnav a:hover {
    background:url("../../../../images/tabs_hover_bg.jpg") repeat-x right top;
}
#tabnav .active a:hover {
    background:url("../../../../images/tab_active_bg.jpg") repeat-x right top;
}


#tabnav a.first {
    border-left: 1px solid #ccc;
}

#tabnav a:hover {

}
#tabnav .active {

}
#tabnav .active a {
    background-image:url("../../../../images/tab_active_bg.jpg");
    color:#000;
}

#tabnav .active a span {
    position:absolute;
    bottom:-15px;
    left:50%;
    margin-left:-8px;
    width:17px;
    height:15px;
    background:url("../../../../images/tab_active_arrow.jpg") left top no-repeat;
}

#arch {
    padding: 2em 1.5em 0 1.5em;
}

#arch h2 {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 25px;
}

#arch h2:first-child{
    padding-top: 0;
}

#arch h3 {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 25px;
}

#arch h4 {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 25px;
}

#arch h5 {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 25px;
}

.appendices ul {
    border-radius: 3px 3px 3px 3px;
    list-style: none;
    padding-left: 25px;
    padding-bottom: 25px;
}

/***** arch Table *****/
#arch th {
    width: 120px;
}

#arch table th {
    text-align: left;
    color: #666;
    padding: .3em 0 .3em 0;
    border-bottom: 1px solid #f3f3f3;
}

#arch table tr {
    border-collapse: collapse;
}

#arch table td {
    padding: .3em 22px .3em 1em;
    border-bottom: 1px solid #f3f3f3;
}

#arch table th, td {
    vertical-align: top;
}

.metsiframe {
    background-image: url("/images/ajax_spinner.gif") ;
    background-repeat: no-repeat;
    background-position: center;
    width:730px;
    height:200px;
    background-color: #ffffff;
    border: 1px solid #888;
    margin: 5px 0 5px 0;
    padding: 0 0 0 0;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}


#teaser {
    float:right;
    padding-right:25px;
    padding-top:25px;
}
#teaser p {
    text-align: center;
}

#mets {
    padding: 15px 15px 15px 15px;
}

#metsnav ul {
    list-style: none;
}

#metsnav li {
    float: left;
    padding-right: 15px;
}

#metsfullview {
    float: right;
}

#metsimage ul {
    margin-top: 15px;
    list-style: none;
}

#metsimage li {
    float: left;
    padding-right: 16px;
    padding-bottom: 15px;
}

#metsimage img {
    width: 100px;
}

/*
#arch tr:nth-child(even) {background: #f9f4f2}
#arch tr:nth-child(odd) {background: #ffffff}*/

#archnav {
    background-image: url("/images/ajax_spinner.gif") ;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
    left: 0;
    z-index: 888;
    width: 300px;
    height: 300px;

    border: 1px solid #888;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

#tree {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 1px solid #ffffff;
}