.deliveryReserveButton {
    border: 1px solid #39a8ff;
    background: #eef;
}
.deliveryReserveButton:hover {
    border: 1px solid #62c5eb;
    background: #ccf;
}

#delivery_cart {
    font-size: smaller;
}

.simpleCart_checkout {
    border: 1px solid #39a8ff;
    background: #eef;
}
.simpleCart_checkout:hover {
    border: 1px solid #62c5eb;
    background: #ccf;
}

.simpleCart_empty {
    border: 1px solid #39a8ff;
    background: #eef;
}
.simpleCart_empty:hover {
    border: 1px solid #62c5eb;
    background: #ccf;
}

#delivery_cart table {
    border:1px;
    border-color: #003399;
}

#delivery_cart th,td {
    text-align:left;
}

#delivery_cart .odd {
    background-color:#e5eCf9;
}

